<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">
	
	<bean id="mensaje1" class="Spring1.Mensaje"></bean>
	<bean id="mensaje2" class="Spring1.Mensaje">
		<property name="id" value="1"></property>
		<property name="contenido" value="Este es el contenido"></property>
		<property name="firma" value="Esta es la firma"></property>
	</bean>
	<bean id="mensaje3" class="Spring1.Mensaje">
		<property name="id" value="1"></property>
		<property name="contenido" value="Este es el contenido 3"></property>
		<property name="firma" value="Esta es la firma 3"></property>
	</bean>
	
	
</beans>
