<h1>Directivas</h1>
<h2>De atributo</h2>
<p [ngStyle]="{color: 'blue', textDecoration: 'underline'}">Texto subrayado azul</p>
<p [ngClass]="{tachado: true, letraAmarilla: true}">Texto tachado amarillo</p>

<p appMarcar>Aplicando directiva marcar azul</p>
<p appMarcar="orange">Aplicando directiva marcar naranja</p>
<p appMarcar="green">Aplicando directiva marcar verde</p>

<h2>Estructurales</h2>
<h3>if else</h3>
<p *ngIf="mostrar">Se muestra si mostrar=true</p>
<p *ngIf="!mostrar">Se muestra si mostrar=false</p>

<p *ngIf="mostrar; else else1">Se muestra si mostrar=true (IF 1)</p>
<ng-template #else1>
  <p>Se muestra si mostrar=false (ELSE 1)</p>
</ng-template>

<div *ngIf="mostrar; then if2 else else2"></div>
<ng-template #if2>
  <p>Se muestra si mostrar=true (IF 2)</p>
</ng-template>
<ng-template #else2>
  <p>Se muestra si mostrar=false (ELSE 2)</p>
</ng-template>

<button type="button" (click)="cambiarMostrar()">Mostrar: {{ mostrar }}</button>
<button type="button" (click)="mostrar = !mostrar">Mostrar: {{ mostrar }}</button>

<h3>for</h3>
<ul>
  <li *ngFor="let item of items; let pos = index">{{pos}}: {{item}}</li>
</ul>
<ul>
  <li *ngFor="let item of persona| keyvalue"><strong>{{item.key}}</strong> {{item.value}}</li>
</ul>
<h3>switch</h3>
<div [ngSwitch]="miMascota">
  <p *ngSwitchCase="'gato'">Tengo un gato</p>
  <p *ngSwitchCase="'perro'">Tengo un perro</p>
  <p *ngSwitchDefault>Tengo un gamusino</p>
</div>

<p *appMiElse="mostrar">Directiva miElse que se muestra si mostrar=false</p>