h1.titulo{
    color: black;
}
nav#nav{
    justify-content: center;
}
h2{
    color:red;
    background-color: lightgrey;
}

div#cont{
margin-top: 20px;
word-wrap: break-word;
}

.container{
    width: 70%;
}

.respuesta{
    background-color: lightgreen;
    border: 1px solid black;
}

.row{
    justify-content: space-around;
}

#contpre{
    justify-content: center;
    width:100%;
    margin: 0 auto;
}