<h2>Reactivo</h2>
<form [formGroup]="miForm" (ngSubmit)="enviarDatos()">
    <div>
      <label for="usuario">Usuario:</label>
      <input type="text" id="usuario" formControlName="usuario">
      <P *ngIf="miForm.controls.usuario.invalid && miForm.controls.usuario.dirty">Campo incorrecto</P>
    </div>
    <div>
      <label for="password">Password:</label>
      <input type="password" id="password" formControlName="password">
      <P *ngIf="miForm.controls.password.invalid && miForm.controls.password.dirty">Campo incorrecto</P>
    </div>
    <div>
      <label for="email">Email:</label>
      <input type="email" id="email" formControlName="email">
      <P *ngIf="miForm.controls.email.invalid && miForm.controls.email.dirty">Campo incorrecto</P>
    </div>
      <div formArrayName="skills">
        <div>
          <label>Nueva Skill:</label>
          <input type="text" (change)="addSkill($event.target.value)">
        </div>    
      <br>
      <input type="text" *ngFor="let i of miForm.controls.skills.controls; let pos = index" [formControlName]="pos">
      <P *ngIf="miForm.controls.email.invalid && miForm.controls.email.dirty">Campo incorrecto</P>
    </div>
    <button type="button" >+</button>
    <button type="submit" [disabled]="miForm.invalid">Enviar</button>
   </form>