<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>10_SpringWeb</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>HolaMundoServlet</display-name>
    <servlet-name>HolaMundoServlet</servlet-name>
    <servlet-class>servlets.HolaMundoServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>HolaMundoServlet</servlet-name>
    <url-pattern>/HolaMundoServlet</url-pattern>
  </servlet-mapping>
  <context-param>
    <param-name>contextConfigLocation</param-name>
    <param-value>
           WEB-INF/Beans.xml
        </param-value>
  </context-param>
  <listener>
    <listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
  </listener>
  <listener>
    <listener-class>org.springframework.web.context.request.RequestContextListener</listener-class>
  </listener>
  <servlet>
    <description></description>
    <display-name>ScopeServlet</display-name>
    <servlet-name>ScopeServlet</servlet-name>
    <servlet-class>servlets.ScopeServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ScopeServlet</servlet-name>
    <url-pattern>/ScopeServlet</url-pattern>
  </servlet-mapping>
</web-app>