<h2>De plantilla</h2>
<form (ngSubmit)="enviarDatos(miForm)" #miForm="ngForm">
  <div>
    <label for="usuario">Usuario</label>
    <input type="text" id="usuario" name="usuario"[ngModel]="datos.usuario" #inputUsuario="ngModel" required>
    <p *ngIf="inputUsuario.invalid && inputUsuario.dirty">El campo es invalido</p>
  </div>
  <div>
    <label for="password">Password</label>
    <input type="password" id="password" name="password" [ngModel]="datos.password" #inputPassword="ngModel" required>
    <p *ngIf="inputPassword.invalid && inputPassword.dirty">El campo es invalido</p>
  </div>
  <div>
    <label for="email">Email</label>
    <input type="email" id="email" name="email" [ngModel]="datos.email" #inputEmail="ngModel" required>
    <p *ngIf="inputEmail.invalid && inputEmail.dirty">El campo es invalido</p>
  </div>
  <button type="submit" [disabled]="miForm.invalid">Enviar</button>
</form>